.col-p {
  color: $admin-primary;
}

.col-p-bg {
  background-color: $admin-primary;
}

.col-w {
  color: $white;
}

.col-w-bg {
  background-color: $white;
}

.col-bg-body {
  background-color: $body-bg;
}

.col-bg-trans {
  background-color: transparent;
}

.col-r {
  color: $warning;
}

.col-grey {
  color: $mid_grey;
}